* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	background: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 2rem;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.wall {
	width: 100%;
}

.title-container {
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.download {
	cursor: pointer;
	padding: 5px 7px;
	border-radius: 5px;
}

.download:hover {
	background: #eee;
}
